.key {
    -fx-font: normal bold 28pt "Courier New";
    -fx-text-fill: #000;
}

.keydesc {
    -fx-font: normal normal 28pt "Palatino";
    -fx-text-fill: #000;
}

.message {
    -fx-font: normal normal 28pt "Palatino";
    -fx-text-fill: #000;
    -fx-background-image: url('/ui/parchment-small2.jpg');
}

